body,
html {
font-family: 'VT323', monospace;
margin: 0;
padding: 0;
height: 100%;
overflow: hidden;
}

main {
flex: display;
text-align: center;
width: 60%;
}

body {
background-image: url(./assets/background.png); 
background-color: black;
display: flex;
align-content: center;
justify-content: center;
}

#humanSide {
background-color:#008F11;
display: flex;
flex-direction: column;
width: 20%;
align-items: center;
padding-top: 30px;
}

#aiSide {
background-color:#008F11;
display: flex;
flex-direction: column;
width: 20%;
align-items: center;
padding-top: 30px;
}

h1 {
font-size: 90px;
margin-top: 1px;
margin-bottom: 0px;
color:#00FF41
}

h2 {
font-size: 50px;
color:  #00FF41;
}

h3 {
font-size: 50px;
color:  #00FF41;
}

h4 {
font-size: 35px;
margin: 10px;
color:#00FF41
}

#mainView {
display: flex;
align-items: center;
flex-direction: column;
height: 50px;
}

.classic-container{
background-color: #008F11;    
font-size: larger;
width: 260px;
height: 250px;
margin: 4px;
}

.difficult-container {
background-color: #008F11;    
font-size: larger;
width: 260px;
height: 260px;
margin: 55px;
}

img {
width: 150px;
height: 150px;
margin: 15px;
cursor: pointer;
}

/* character options*/
form {
display: flex;
height: 65%;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 70px;
}

/* change game button */
button {
background-color: #00FF41;
width: 180px;
height: 50px;
margin-top: 50px;
font-size: 25px;
border-radius: 5px;
}

.hidden {
    display: none;
  }