body, html {
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

main {
  text-align: center;
  width: 60%;
}

body {
  background-color: #008f11;
  display: flex;
  align-content: center;
  justify-content: center;
}

#humanSide {
  background-image: url(./assets/background.png);
  background-color: #008f11;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  padding-top: 10px;
}

#aiSide {
  background-image: url(./assets/background.png);
  background-color: #008f11;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  padding-top: 10px;
}

h1 {
  font-size: 90px;
  margin-top: 1px;
  margin-bottom: 0px;
  color: #00ff41;
}

h2 {
  font-size: 50px;
  color: #00ff41;
  margin-top: 20px;
}

h3 {
  font-size: 50px;
  color: #00ff41;
}

h4 {
  font-size: 35px;
  margin: 10px;
  color: #00ff41;
}

p {
  color: #00ff41;
}

#mainView {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50px;
}

.classic-container {
  background-color: black;
  font-size: x-large;
  width: 280px;
  height: 260px;
  margin: 4px;
  cursor: pointer;
}

.difficult-container {
  background-color: black;
  font-size: larger;
  width: 280px;
  height: 260px;
  margin: 30px;
  cursor: pointer;
}

#pickYourGame {
  color: black;
}

img {
  width: 155px;
  height: 155px;
  margin: 15px;
  cursor: pointer;
}

img:hover {
  background: #00ff41;
}

form {
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

button {
  background-color: #00ff41;
  width: 190px;
  height: 60px;
  margin-top: 35px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}